<!DOCTYPE html>
<html>

<head>
    <% include head %>
    <link rel="stylesheet" href="./stylesheets/css/sample.css">
</head>

<body>
    <form action="/artile/write" method="post">
        <div class="form-group">
            <input type="text" class="form-control" name="title" value="<%=item.title%>" placeholder="请输入文章标题">
        </div>
        <div>
            <textarea name="content" id="editor"><%= item.content %></textarea>
        </div>
        <%if(item.id){%>
        <input type="submit" name="" value="修改" class="btn btn-primary">
        <%}else{%>
        <input type="submit" name="" value="发布" class="btn btn-primary">
        <%}%>
    </form>

    <script src="./javascripts/ckeditor.js"></script>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                ckfinder: {
                    uploadUrl: '/artile/upload'
                }
            }).catch(error => {
                console.error(error);
            }); </script>

</body>

</html>